.btn-primary {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007ad9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.input-block {
  display: block;
  width: 100%;
  min-width: 200px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-full {
  width: 100%;
}

.table-full th,
.table-full td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
  width: 100%;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;

  p-multiSelect{
    min-width: 200px;
  }
}
